<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq .net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">
<div layout:fragment="content">
    <div  style="margin-top: 50px; ">
        <div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if = "${param.succes!=null}">
                Successful
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.error!=null}">
                Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
            </div>
            <form th:action="@{'/register'}" method="post">
                <div class="row">
                    <div class="col-12">
                        <label>Email:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="email" name="user_email" class="form-control" required placeholder="Email"
                               style="width: 1200px;">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>Password:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="password" name="user_password" class="form-control" required placeholder="Password">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>Repeat Password:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="password" name="user_re_password" class="form-control" required placeholder="Repeat Password">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>Full name:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" name="user_full_name" class="form-control" required placeholder="Full name">
                    </div>
                </div>
                <div class="row mt-2 ">
                    <div class="col-12">
                        <button class="btn btn-success">Sign up</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


</html>
